<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="monitoredUri" value="https://yourcosmosdb.documents.azure.com:443/" />
    <add key="monitoredSecretKey" value="yourkey" />
    <add key="monitoredDbName" value="damdocdb" />
    <add key="monitoredCollectionName" value="starships" />
    <add key="monitoredThroughput" value="400" />

    <add key="leaseUri" value="https://yourcosmosdb.documents.azure.com:443/" />
    <add key="leaseSecretKey" value="yourkey" />
    <add key="leaseDbName" value="damdocdb" />
    <add key="leaseCollectionName" value="leases" />
    <add key="leaseThroughput" value="400" />

    <add key="StorageConnectionString" value="YourStorageConnectionString"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.19.0.0" newVersion="1.19.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>