<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="tableStorage" value="DefaultEndpointsProtocol=https;AccountName=damkeyval;AccountKey=GSbYkydpq2Wmn8pFHRijFuydYrtiZqKTl64wTztzlJzumKGcqNoniDqKmBzuYkWvNIgqeVe5mZktRmKH1ibo8w==;TableEndpoint=https://damkeyval.table.cosmosdb.azure.com:443/;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>