<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- Team -->
    <add key="TeamName" value="PickACoolTeamName!"/>
    <!-- SQL / DocumentDB API -->
    <add key="SqlApi.EndpointUrl" value="https://starwarsdocdb.documents.azure.com:443/" />
    <add key="SqlApi.AuthorizationKey" value="hOH7k4Armre9HNcvEf6Dr7r8xcyhy7FLAlkcaSJ4X45UluAAHz9YohBJuRWZoU1hYQSPfeICHkFIgziqKuai9w==" />
    <add key="SqlApi.DatabaseName" value="damstarwarsdocdb" />
    <add key="SqlApi.StarshipCollectionName" value="starships" />
    <add key="SqlApi.LeaseCollectionName" value="leases" />
    <!-- Graph / Gremlin API -->
    <add key="GraphApi.EndpointUrl" value="https://starwarsgremlin.documents.azure.com:443/" />
    <add key="GraphApi.AuthorizationKey" value="t3FOiPylOz0pHkHEXqOTfUjH40xjAn04Veb4p1TIL8bIjkAcgFY24Uux6SZCCGRznh5OsLKnHT5WEVDYSBqDNw==" />
    <add key="GraphApi.DatabaseName" value="damstarwarsgraph" />
    <add key="GraphApi.CollectionName" value="cargoroutes" />
    <!-- Table API -->
    <add key="TableApi.StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=damkeyval;AccountKey=GSbYkydpq2Wmn8pFHRijFuydYrtiZqKTl64wTztzlJzumKGcqNoniDqKmBzuYkWvNIgqeVe5mZktRmKH1ibo8w==;TableEndpoint=https://damkeyval.table.cosmosdb.azure.com:443/;"/>
    <!-- Quiz API -->
    <add key="QuizApi.BaseAddress" value="http://localhost:2816/api/quiz/"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.19.0.0" newVersion="1.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>